/**** BASE ****/
body {
    background-color:#fff;
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}
.basic{
  background-image: url('dtown2.jpg');
  background-size: cover;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1,p{
  text-align: center;
}
.house_image{
  width: 480px;
  height: 350px;
  display: block;
}
form{
  display: inline-block;
}
/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
img {
    max-width: 100%;
    max-height: 270px;
    object-position: center;
}
.container-pad {
    padding: 30px 15px;
}
.carousel-item>img{
  text-align: center;
  object-fit: cover;
}
@media (min-width: 1068px) {
.carousel .carousel-item img {
    height: 350px;
    object-fit: cover;
}
}
#search{
  display: block;
  text-align: center;
}
input{
  display: inline;
}
/**** MODULE ****/
.bgc-fff {
    background-color: #325E64!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 600px;
        min-width: 550px;
    }
}
